.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.stripe {
     width: 900px;
     height: 200px;
}

.blue {
    background:#CE1126;
}

.yellow {
    background:#FCD116;
}

.red {
    background:#002B7F;
}

.flag {
    margin:auto;
    width: 900px;
    height: 600px;
    border: 1px;
    border-style: solid;
}

