.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.stripe {
     width: 850px;
     height: 200px;
}

.red {
    background:#EF3340;
}

.yellow {
    background:#FDDA24;
}

.black {
    background:black;
}

.flag {
    margin:auto;
     width: 800px;
     height: 600px;
}
