.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag{
    height:500px;
    width:1000px;
    margin:auto;
}
.red{
    background-color:#D90012;
}
.blue{
    background-color:#0033A0;
}
.yellow{
    background-color:#F2A800;
}
.stripe{
    width:100%;
    height:200px;
}