.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.stripe {
     width: 900px;
     height: 200px;
}

.red {
    background:#AD1D25;
}

.white {
    background:#FFFFFF;
}

.cobaltblue {
    background:#1E4785;
}

.flag {
    margin:auto;
     width: 900px;
     height: 600px;
    border: 1px;
    border-style: solid;
}
