.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

body {
    width:100%;
}

.stripe {
    width:800px;
    height:200px;
}

.yellow {
    background:#FDB913;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.green {
    background:#006A44;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.red {
    background:#C1272D;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.flag {
    margin:auto;
    width:800px;
    length:600px;
}