.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag {
    width:900px;
    height:600px;
    margin:auto;
}


.red {
    background-color:red;
    width:100%;
    height:201px;
}

.white {
    background-color:white;
    width:100%;
    height:32.5px;
}

.blue {
    background-color:blue;
    width:100%;
    height:133px;
}

.green {
    background-color:green;
    width:100%;
    height:201px;
}
