.header {
    text-align:center;
}
body{
background-color: rgb(255, 255, 255);
}
a {
    display:block;
    width:100%;
    text-align:center;
}
.stripe{
height: 200px;
width: 600px;
 justify-content: center;
        align-items: center; 
}
.white{
background-color: #f4f5f7;

}
.black{
background-color: black;
justify-content: center;
        align-items: center; 
}
.red{
    background-color: #CC092F	;
justify-content: center;
        align-items: center; 
}
.flag{
   margin:auto; 
   width: 600px;
   height: 400px;
   background-color: white;
   justify-content: center;
        align-items: center; 

    }
.body{
width:100%;
}
.circle {
        width: 240px; 
        height: 240px; 
        background-color: rgb(176, 0, 15); 
        border-radius: 50%;
        justify-content: center;
        align-items: center; 
         display: flex;
    }
    .picture{
       display: center; 
       height:180px
    }