.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag{
    height:600px;
    width:900px;
    margin:auto;
}
.green{
    background-color:#14B53A;
}
.yellow{
    background-color:#FCD116;
}
.red{
    background-color:#CE1126;
}
.stripe{
    width:300px;
    height:600px;
    float:left;
}