.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag {
    width:900px;
    height:600px;
    margin:auto;
}

.stripe {
    width:100%;
    height: 200px;
}

.green {
    background-color:#1EB53A;
}

.grey {
    background-color:#bcbcbc;
}

.blue {
    background-color:#0072C6
}