.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

body {
    width:100%;
}

.stripe {
    width:800px;
    height:200px;
}

.red {
    background:#FF0000;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.white {
    background:#FFFFFF;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.flag {
    margin:auto;
    width:800px;
    length:600px;
}
