.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag{
    height:600px;
    width:900px;
    margin:auto;
}
.red{
    background-color:#ff0000;
}
.white{
    background-color:#FFFF;
}
.black{
    background-color:#000000;
}
.stripe{
    width:100%;
    height:200px;
}