.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag{
    width:720px;
    height:480px;
    margin:auto;
}
.one{
    width:100%;
    height:180px;
}
.two{
     width:100%;
    height:20px;
}
.tree{
    width:100%;
    height:80px; 
}
.white{
    background:#ffff;
}
.blue{
    background:#6DA9D2;
}
.black{
    background:#000000;
}
