.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag{
    width:500px;
    height:300px;
    margin:auto;
}
.stripe{
    width:100%;
    height:100px;
}
.white{
    background:#ffff;
}
.green{
    background:#00976E;
}
.red{
    background:#D7210A;
}
body{
    background:#F8F8F8;
}



