.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag {
    width:900px;
    height:600px;
    margin:auto;
}

.stripe {
    width:100%;
    height: 200px;

}

.black{
    background:#C8102E
}
.red{
    background:#ffffff
}
.yellow{
    background:#ED2939
}
