.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.stripe {
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

.stripe.white img{
    width: 160px;
    display: block;
    margin: auto;
}

.stripe.white{
    text-align: center;
    padding-top: 110px;
}
.mayablue {
    background:#4997D0;
}

.white {
    background:#FFFFFF;
}

.flag {
    margin: auto;
    width: 600px;  
    height: 360px;  
    border: 1px solid;
    overflow: hidden;
}
