.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag {
    width:750px;
    height:500px;
    margin:auto;
    position: relative;
}

.stripe {
    width:100%;
    height:55.35px;
}

body{
    background-color: rgb(223, 232, 240);
}

.white {
    background-color:#ffffff;
}

.blue {
    background-color:#0038A8;
}

.logo {
    position: absolute;
    left:0;
    top:20px;
    right:0;
    background-color: #ffffff;
    width: 350px;
    height: 223px;
    text-align: center;
}

img{
    width:220px;
    height:220px;
    
}