.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.stripe {
    width:800px;
    height:200px;
   

}
.red {
    background-color:red;
     border-top:2px solid black;
      border-right:2px solid black;
       border-left:2px solid black;
}
.white {
    background-color: white;
    border-bottom:2px solid black;
     border-left:2px solid black;
      border-right:2px solid black;
}
.flag {
    margin:auto;
    width:800px;
    height:600px;
   
}
